.cartWidget{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    color: #fff;
}

.cartWidget p{
    font-size: 2rem;
}

.cartWidget img {
    width: 10%;
    padding: 1rem; 
}