.div__navbar{
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: .5rem;
    justify-content: center;
}

.DN__contenedor{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 10%;
}

.DNC__titulo{
    font-size: 2.5rem;
    color: #fff;

}

.navBar{
    display: flex;
    flex-direction: row;
    text-decoration: underline;
    justify-content: center;
    list-style: none;
    font-size: 2rem;
    width: 25%;
    color: #fff;
    padding: 0rem;
    margin: 1rem 0rem;

}

.navBar__li{
    padding: 2rem 1rem;
    
}

a{
    text-decoration: none;
    color: inherit;
}

.clickNavBar{
    background-color: rgb(29, 13, 5);
    padding: 1rem;
    border-radius: 1rem;
}
.noClickNavBar{
    background-color: none;
    padding: 1rem;
    
}