
/*              CODIGO MIO             */
*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html{
  font-size: 62.5%;
  background-color: #683939;
}