*{
    text-align: center;
}
.contenedorProductos{
    background-color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.listaProductos{
    background-color: #683939;
    font-size: 1.5rem;
    color: #fff;
    width: 75%;
    display: grid;
    grid-template-columns: 33% 33% 33%;

}

.listaProductos li{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    
}
.listaProductos img {
    width: 45%;
    border: .1rem solid black;

}

.listaProductos p {
    font-size: 2rem;
    
}

.listaProductos a {
    width: 100%;
    background-color: #fff;
    color: #0d0c57;
}

.listaProductos h2 {
    width: 100%;
    background-color: #fff;
    color: #0d0c57;
    margin-top: 2rem;
}