*{
    text-align: center;
}
.contenedorProductos{
    background-color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 1rem;
}
.listaProductos{
    background-color: #683939;
    font-size: 1.5rem;
    color: #fff;
    width: 75%;
    display: grid;
    grid-template-columns: 33% 34% 33%;

}

.listaProductos li{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    
}
.listaProductos img {
    width: 45%;
    border: .1rem solid black;
    margin: 1rem;

}

.listaProductos p {
    font-size: 2rem;
    
}

.listaProductos a {
    width: 100%;
    background-color: #fff;
    color: #0d0c57;
    padding: 1rem;
    border-radius: 1rem;
    height: auto;
    text-transform: capitalize;
}

.listaProductos h2 {
    background-color: #fff;
    color: #0d0c57;
    margin-top: 1rem;
    width: 100%;

}

.listaProductos footer{
    margin: 2rem;
    height: auto;
}

.listaProductos div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.listaProductos header {
    width: 90%;
}

.contenedorGlobal{
    border: .1rem solid #fff;
}

.contenedorVisual{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
}